* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid oklch(37.1% 0 0);
  gap: 2.5rem;
}

.title {
  font-size: 42px;
}

.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

#timer {
  font-size: 32px;
}

#status {
  font-size: 20px;
}

button {
  background: oklch(20.5% 0 0);
  color: inherit;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid oklch(26.9% 0 0);
}

button:enabled:hover {
  background: oklch(26.9% 0 0);
}

button:disabled {
  opacity: 0.6;
  cursor: default;
}
